body {
  color: var(--color);
  padding: 8vh 5vh;
  background-color: var(--lightBack);
  overflow: auto;
  width: calc(92%);
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: var(--f25);
  text-transform: uppercase;
}

ul {
  list-style: none;
}

div.trackingView {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 5px;
}

.status {
  text-align: right;
  font-size: var(--f16);
  margin: 50px auto;
}

h2 {
  font-size: var(--f18);
  font-weight: 500;
}

.tracking-container,
.tracking-details {
  background-color: var(--gray);
  padding: 20px 15px;
  position: relative;
}

.tracking-container::after {
  content: "";
  width: 1px;
  position: absolute;
  height: 100%;
  background-color: var(--back);
  bottom: 0;
  right: -3px;
}

#tracking-icons,
#estados-envio {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-content: center;
  place-items: center;
  margin-top: 20px;
}

#estados-envio {
  text-align: center;
}

#tracking-icons li {
  padding: 20px;
  width: 60%;
  margin: 0 auto;
  background: var(--white);
  border-radius: 50px;
  position: relative;
}

#tracking-icons li::after {
  content: "";
  width: 68%;
  position: absolute;
  height: 15px;
  background-color: var(--white);
  bottom: 40%;
  right: -67%;
}

#tracking-icons li:last-child::after {
  display: none;
}

#estados-envio,
#info-envio {
  margin-top: 20px;
  color: var(--white);
}

#estados-envio li,
#info-envio li {
  font-style: italic;
}

.map-container {
  margin-top: 20px;
}

#map {
  height: 300px;
}

@media only screen and (min-width: 100px) and (max-width: 830px) {
}
